version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: ticklock-postgres
    environment:
      POSTGRES_DB: ticklock
      POSTGRES_USER: ticklock
      POSTGRES_PASSWORD: ticklock
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data


  redis:
    image: redis:7
    container_name: ticklock-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data: